
body {
   font-family: Arial, sans-serif;
   background-color: #f0f0f0;
   color: #333;
   text-align: center;
   margin: 0;
   padding: 0;
}
h2 {
   color: #444;
   margin-top: 20px;
}
form {
   background-color: #fff;
   border-radius: 8px;
   
   display: inline-block;
   margin: 20px auto;
   padding: 20px;
   text-align: left;
   width: 80%;
   max-width: 500px;
}
textarea {
   width: 100%;
   padding: 10px;
   border-radius: 4px;
   border: 1px solid #ccc;
   margin-bottom: 10px;
   font-size: 14px;
}
select, button {
   width: 100%;
   padding: 10px;
   border-radius: 4px;
   border: 1px solid #ccc;
   margin-bottom: 10px;
   font-size: 14px;
}
button {
   background-color: #5cb85c;
   color: white;
   border: none;
}
button:hover {
   background-color: #4cae4c;
}
h3 {
   margin-top: 20px;
}
pre {
   background-color: #eee;
   padding: 10px;
   border-radius: 4px;
   text-align: left;
   display: inline-block;
}
