/* General body styling */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  color: #fff;
  text-align: center;
  background: url('/static/image/background.jpg') no-repeat center center fixed; 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden; /* Prevent overflow */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  max-width: 600px;
  margin: auto;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  color: #c4f7f1; /* Text shadow for better readability */
}

form {
  background-color: rgba(0, 0, 0, 0.3); /* Dimmed semi-transparent black background */
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box; /* Include padding in width */
}

textarea, select, button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(255, 255, 255, 0.5); /* Dimmed light background for textarea */
  color: #000;
  resize: none; /* Disable resizing */
  box-shadow: none; /* Remove any box-shadow */
  -webkit-box-shadow: none; /* Safari and Chrome */
  -moz-box-shadow: none; /* Firefox */
  border-radius: 4px; /* Equal border radius on all sides */
  box-sizing: border-box; /* Include padding in width */
}

textarea::placeholder {
  color: black;
  font-style: italic;
}

textarea:focus, select:focus, button:focus {
  border-color: #ccc; /* Ensure the border color remains the same on focus */
  outline: none; /* Remove default outline */
}

button {
  background-color: #13917c; /* Primary color */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0a443a; /* Hover color */
}

#result-container {
  max-width: 100%;
  max-height: 300px; /* Set a maximum height */
  margin: 20px auto; /* Center below the form */
  padding: 20px;
  border-radius: 8px;
  overflow-x: auto; /* Enable horizontal scroll */
  overflow-y: auto; /* Enable vertical scroll */
  background-color: rgba(0, 0, 0, 0.3); /* Dimmed semi-transparent black background */
}

h3, h4 {
  text-align: center;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); 
  color: #c4f7f1; /* Text shadow for better readability */
}

pre {
  white-space: pre; /* Handle long text without overflow */
  word-wrap: break-word; /* Ensure long words break correctly */
  text-align: center;
  font-weight: bold; /* Make the text bold */
  color: #c4f7f1; /* Text color */
}

/* Responsive design */
@media (max-width: 600px) {
  h2 {
    font-size: 1.5em;
  }
  form {
    width: 90%;
    padding: 10px;
  }
  #result-container {
    width: 90%;
    max-height: 200px; /* Adjust max-height for smaller screens */
  }
  textarea, select, button {
    font-size: 14px; /* Adjust font size for smaller screens */
    padding: 6px; /* Adjust padding for smaller screens */
  }
  pre {
    font-size: 12px; /* Smaller font size for narrow screens */
  }
}

@media (orientation: landscape) {
  body, html {
    height: auto;
    overflow-y: auto; /* Enable vertical scroll */
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  form {
    margin: 10px;
  }
  #result-container {
    max-height: 50vh; /* Adjust max-height for landscape mode */
  }
}
