<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/static/error.css">
    <link rel="icon" href="/static/image/fav.ico" type="image/x-icon"> 
</head>
<body>
    <div class="container">
        <div class="error-message">
            <h2>{{.StatusCode}}</h2>
        <div class="image1">
        <img src="static/image/errorbackground.jpg" alt="" width="70%" height="60%" >
        </div>
            <p>{{.ErrorMessage}}</p>
            <h4>{{.Feedback}}</h4>

        </div>
        <a href="/">Go back to home</a>

    </div>
</body>
</html>
