<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ascii</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/image/fav.ico" type="image/x-icon"> <!-- Add this line for favicon -->
</head>

<body>
    <h2>WELCOME TO ASCII ART GENERATOR</h2>
    <form method="POST" action="/ascii-art">
        <h3>Input</h3>
        <textarea name="text" placeholder="Input ascii characters only" rows="10" cols="40"
            required>{{.UserInput}}</textarea><br>
        <h4>Choose Banner</h4>
        <select name="banner">
            <option value="standard">standard</option>
            <option value="shadow">shadow</option>
            <option value="thinkertoy">thinkertoy</option>
        </select>
        <button type="submit">Generate</button>
    </form>
    <div id="result-container">
        {{if .Success}}
        <h3>Processed ASCII Art:</h3>
        <pre>{{.Result}}</pre>
        {{end}}
    </div>
</body>

</html>